<nav>
    <div class="nav {{include.navclass}}">

        <div class="nav-left">
            <div class="dropdown">
                <a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">
                    Alessio Keilty
                </a>

                <div class="dropdown-content">
                    <br>
                    <p>Photographer</p>
                    <p>Milano</p>
                    <br>

                    <a href="mailto:alessio.keilty@outlook.it" target="_top">
                        alessio.keilty@outlook.it
                    </a>
                    <p>+39 3349892298</p>
                    <a href="https://www.instagram.com/alessiokeilty" target="_blank">
                        Instagram
                    </a>
                </div>
            </div>
        </div>

        <div class="nav-right">
            <a href="{{site.baseurl}}/project" class="{% if page.url == '/project' %}current{% endif %}">
                Works
            </a>
            
        </div>

    </div>
</nav>



